.titulo{
    color: red;
    font-size: 20;
}
h2{
    color:rgb(54, 136, 7);
}

.caja{
    background-color: black;
    border-width: 1;
    border-color: blanchedalmond;
    color: white;
}

.contenido{
    background-color: rgb(3, 52, 61);
    flex: 1;
}

.nombre{
    color: white;
}

.nom{
    color:yellow;
}